/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/manual.pdf
/doc/title.xml
/doc/_*.xml

/autom4te.cache/
/bin/
/config.log
/config.status
/configure
/configure~
/gen/
/Makefile

/tmp/
/gh-pages/
