sudo: false
os:
  - linux
env:
  - TEST_SUITE=gap
  - TEST_SUITE=hpcgap
language: c
compiler:
  - gcc
  - clang
branches:
  only:
    - master
addons:
  apt:
    packages:
      libgmp3-dev
script:
  - ./run_tests.sh $TEST_SUITE
