name: CI

# Trigger the workflow on push or pull request or manually
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
  pull_request:

# the `concurrency` settings ensure that not too many CI jobs run in parallel
concurrency:
  # group by workflow and ref; the last slightly strange component ensures that for pull
  # requests, we limit to 1 concurrent job, but for the default repository branch we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref_name != github.event.repository.default_branch || github.run_number }}
  # Cancel intermediate builds, but only if it is a pull request build.
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  # The CI test job
  test:
    name: ${{ matrix.os }} - GAP ${{ matrix.gap-branch }} - HPCGAP ${{ matrix.HPCGAP }} - coverage ${{ matrix.coverage }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu
        coverage:
          - true
        HPCGAP:
          - no
        GAP_PKGS_TO_BUILD:
          - profiling
        gap-branch:
          - master
          - stable-4.15
          - stable-4.14
          - stable-4.13
          - stable-4.12
        include:
          - os: ubuntu
            gap-branch: master
            GAP_PKGS_TO_BUILD: ''
            HPCGAP: 'yes'
            coverage: 'false'
          - os: ubuntu
            gap-branch: master
            GAP_PKGS_TO_BUILD: 'profiling'
            HPCGAP: 'no'
            coverage: true
          - os: macos
            gap-branch: master
            GAP_PKGS_TO_BUILD: 'profiling'
            HPCGAP: 'no'
            coverage: true
          - os: windows
            gap-branch: master
            GAP_PKGS_TO_BUILD: 'profiling'
            HPCGAP: 'no'
            coverage: true

    steps:
      - uses: actions/checkout@v6
      - uses: gap-actions/setup-cygwin@v2
        if: ${{ runner.os == 'Windows' }}
      - uses: gap-actions/setup-gap@v2
        with:
          GAPBRANCH: ${{ matrix.gap-branch }}
          GAP_PKGS_TO_BUILD: ${{ matrix.GAP_PKGS_TO_BUILD }}
          HPCGAP: ${{ matrix.HPCGAP }}
      - uses: gap-actions/build-pkg@v2
      - uses: gap-actions/run-pkg-tests@v4
        with:
          coverage: ${{ matrix.coverage }}
      - uses: gap-actions/run-pkg-tests@v4
        with:
          coverage: ${{ matrix.coverage }}
          mode: 'onlyneeded'
      - uses: gap-actions/process-coverage@v2
        if: ${{ matrix.coverage == true }}
      - uses: codecov/codecov-action@v5
        if: ${{ matrix.coverage == true }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
